<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div style="font-size: 24px; font-weight:bold; color:#9955aa;">
  {{ dataValue }} and {{ dataType }} - {{ dataVertical }}
</div>

<div>
  <div style="display: block;">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType" [colors]="myColors" (chartClick)="onBarChartClick($event)">
    </canvas>
  </div>
</div>

<div>
  <div style="display: block;">
    <canvas baseChart [chartType]="lineChartType" [datasets]="lineChartData" [labels]="lineChartLabels"
      [options]="lineChartOptions" [legend]="lineChartLegend" [colors]="myColors"
      (chartClick)="onLineChartClick($event)">
    </canvas>
  </div>
</div>

<router-outlet></router-outlet>